<h1 style="text-align:center;">CRUD Application</h1>

<br />
<p style="text-align:center;">Click on any option:</p>
<br /><br />
<div style="margin-left: 570px;">
<%= link_to("Go to Subject's Page", {:controller => 'Subjects', :action => 'index'}) %><br /><br />
<%= link_to("Go to Section's Page", {:controller => 'Sections',:action => 'index'}) %><br /><br />
<%= link_to("Go to Page's Page", {:controller => 'Pages',:action => 'index'}) %><br />
</div>