<h1 style="text-align:center;">Demo index Application</h1>
<p style="text-align:center;">Hello from index</p>

<%= link_to("Go to Hello Page", {:controller => 'demo', :action => 'hello'}) %>

<%= link_to("Go to Hello Page Parameters", {:controller => 'demo', :action => 'hello', :id => 3, :page => 4}) %>