<div class = "sections delete">

<h2 style="text-align:center;">Delete Section</h2><br />

<%= link_to "<-- Back to Main Page", {:action => "index"} %><br /><br /><br />

<%= form_for(:subject, :url => {:action => 'destroy', :id => @section.id}) do |f| %>
<p> Are you sure that you want to delete <%= @section.name %> </p>
<div >
<%= submit_tag("Delete Section") %>
</div>

<% end %>

</div>
